# Supabase Config
SUPABASE_URL=https://fhvexkhqwudxxkbahxbt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZodmV4a2hxd3VkeHhrYmFoeGJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NzMyOTQsImV4cCI6MjA5MTI0OTI5NH0.U0DM15spsi272_cs07CkaNNbvS3ojzWsLhG7-61j-pM
SUPABASE_SERVICE_ROLE_KEY=insert_service_role_here

# Sponte API Config
SPONTE_API_URL=https://api.sponte.com.br/v1
SPONTE_API_TOKEN=your_token_here
